@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 225 52% 30%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 29 65% 51%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 225 52% 30%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 216 41% 11%;
    --foreground: 210 20% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 29 65% 51%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 29 65% 51%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 29 65% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
}

.blob-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: blur(40px);
}

.blob {
  position: absolute;
  border-radius: 50%;
  opacity: 0.7;
  will-change: transform, opacity;
}

.blob-1 { background-color: #0025ce; width: 30vw; height: 30vw; top: 10%; left: 10%; animation: move 20s infinite alternate; }
.blob-2 { background-color: #00eaff; width: 25vw; height: 25vw; top: 20%; left: 70%; animation: move 22s infinite alternate-reverse; }
.blob-3 { background-color: #303e57; width: 20vw; height: 20vw; top: 60%; left: 5%;  animation: move 25s infinite alternate; }
.blob-4 { background-color: #4d3589; width: 35vw; height: 35vw; top: 70%; left: 60%; animation: move 28s infinite alternate-reverse; }
.blob-5 { background-color: #badaff; width: 15vw; height: 15vw; top: 40%; left: 40%; animation: move 30s infinite alternate; }
.blob-6 { background-color: #c4c4c4; width: 22vw; height: 22vw; top: 80%; left: 20%; animation: move 18s infinite alternate-reverse; }
.blob-7 { background-color: #ffffff; width: 18vw; height: 18vw; top: 5%;  left: 45%; animation: move 26s infinite alternate; }


@keyframes move {
  0% { transform: scale(1) translate(0, 0) rotate(0deg); opacity: 0.5; border-radius: 60% 40% 30% 70% / 60% 30% 70% 40% }
  25% { transform: scale(1.2) translate(20px, 30px) rotate(90deg); opacity: 0.7; }
  50% { transform: scale(0.8) translate(-20px, -30px) rotate(180deg); opacity: 0.6; border-radius: 40% 60% 70% 30% / 40% 70% 30% 60% }
  75% { transform: scale(1.1) translate(-30px, 20px) rotate(270deg); opacity: 0.8; }
  100% { transform: scale(1) translate(0, 0) rotate(360deg); opacity: 0.5; border-radius: 60% 40% 30% 70% / 60% 30% 70% 40% }
}
